<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Uploaded Objects Management - OOZO.NET</title>
	<link href="/src/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>

<nav class="navbar-dark bg-dark navbar navbar-expand-md ">
	<div class="container">
		<a class="navbar-brand" href="https://oozo.net/">OOZO.NET</a>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/images">Images</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/url">Short URLs</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container mt-3">

</div>
</body>
</html>